.coin-details {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  left: 50%;
  width: 30%;
  height: 30px;
}

.error-message {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  position: relative;
  width: 30%;
  height: 30px;
}

.loading {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}

.coin-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  flex-wrap: nowrap;
  align-items: center;
  width: 18%;
  padding: 30px;
}

.coin-card:hover {
  transform: translate(-10px, -10px);
}

.trending-image {
  margin-top: -7px;
  height: 70px;
}

.coin-info {
  margin-left: 20px;
}

.coin-symbol {
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.coin-percentage {
  font-size: 14px;
  padding-left: 5px;
}

.coin-price {
  color: #f5c518;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .coin-card {
    width: 160px;
    height: 120px;
    margin: 10px 20px 20px 20px;
    flex-direction: column;
  }
  .trending-image {
    height: 50px;
    margin: 0;
  }
  .coin-info {
    margin: 0;
  }
}

@media (min-width: 700px) and (max-width: 1280px) {
  .coin-card {
    width: 160px;
    height: 120px;
    margin: 10px 20px 20px 20px;
    flex-direction: column;
  }
  .trending-image {
    height: 50px;
    margin: 0;
  }
  .coin-info {
    margin: 0;
  }
}
