.page-container {
  display: flex;
  position: absolute;
  top: 100px;
}

.coin-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 30%;
  padding: 20px;
  border-right: 1px solid grey;
}

.coin-page-image {
  height: 30%;
}

.coin-page-name {
  color: white;
  font-size: 26px;
  font-weight: 900;
  padding: 10px;
  text-transform: capitalize;
}

.coin-page-desc {
  color: white;
  font-size: 14px;
  word-spacing: 5px;
  letter-spacing: 1px;
  line-height: 1.6;
  padding: 10px;
}

.coin-page-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
}

h4 {
  font-size: 20px;
  color: rgb(207 207 207);
  font-weight: 700;
  padding: 10px 20px;
}

.coin-page-favorite-link {
  width: 100%;
}

.add-to-favorite-btn {
  width: 100%;
  padding: 7px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: green;
  margin-top: 40px;
}

.remove-from-favorite-btn {
  width: 100%;
  padding: 7px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: red;
  margin-top: 40px;
}

.add-to-favorite-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 95, 0);
  color: rgb(207 207 207);
}

.remove-from-favorite-btn:hover {
  cursor: pointer;
  background-color: rgb(196, 1, 1);
  color: rgb(207 207 207);
}

.coin-page-back-link {
  width: 100%;
}

.coin-page-back-btn {
  width: 100%;
  padding: 7px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #f5c518;
  border: 1px solid #f5c518;
  background-color: #1a1a1a;
}

.coin-page-back-btn:hover {
  color: #1a1a1a;
  background-color: #f5c518;
  cursor: pointer;
}
