.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #1e1e22;
  box-shadow: 2px 2px 10px 1px rgb(0, 0, 0, 0.5);
}

.header-logo {
  margin-left: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.about-link {
  display: flex;
  align-items: center;
  height: 60px;
}

.favorite-link {
  display: flex;
  align-items: center;
  height: 60px;
}

.links {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 20px;
}

.about-link:hover,
.favorite-link:hover {
  border-bottom: 2px solid #f5c518;
  background-color: #0a0a0a;
}

.exchange-section {
  border: 1px solid white;
  background-color: #1a1a1a;
  color: #f5c518;
  width: 80px;
  height: 30px;
  padding: 5px;
  border-radius: 7px;
  margin-right: 30px;
  margin-left: 30px;
}

@media (min-width: 400px) and (max-width: 600px) {
  .header-nav {
    height: 90px;
  }
  .header-logo {
    margin-left: 15px;
    width: 120px;
  }
  .about-link, .favorite-link {
    height: 90px;
  }
  .links {
    font-size: 16px;
    padding: 0 5px;
  }
  .exchange-section {
    width: 90px;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 15px;
  }
}

@media (max-width: 400px) {
  .header-logo {
    display: none;
  }
  .links {
    padding: 0 15px
  }
}