body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f5f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.header {
  background-color: black;
  display: flex;
  position: relative;
  top: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.pink-color {
  color: #ff0084;
}

.page-title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  background-color: black;
}

.blue-color {
  color: #0091dc;
}

.category-list {
  display: flex;
  width: 60%;
  margin: 20px auto;
}

.category-button {
  list-style: none;
  width: calc(33% - 16px);
  padding: 5px;
}

.button {
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #0091dc;
  color: #0091dc;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 132, 0.7);
  border: none;
  color: white;
}

.main {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
}

.products {
  width: 80%;
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
}

.loading {
  font-size: 22px;
  font-weight: bold;
  margin: auto;
  color: #ff0084;
}

.product-card {
  width: 25%;
  margin: 30px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  position: relative;
  background-color: white;
}

img {
  height: 200px;
  padding: 15px;
}

.product-image {
  margin-bottom: auto;
  margin-top: auto;
  max-width: 280px;
  object-fit: contain;
}

.product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 16px;
  white-space: nowrap;
  color: white;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 145, 220, 0.7);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 50px;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.item-title {
  font-size: 22px;
  margin-left: 40px;
  margin-top: 40px;
  color: #0091dc;
}

.item-container-child {
  position: absolute;
  top: 25%;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;

}
.item-image {
  right: 2%;
  width: 40%;
  height: fit-content;
  padding: 30px;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.description-container {
  width: 40%;
}

.item-description {
  font-size: 18px;
  color: #212727;
  font-weight: 500;
  line-height: 2;
  padding-right: 30px;
}

.back-btn {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 80px;
  height: 40px;
  bottom: 10%;
  background-color: #ff0084;
  left: 10%;
  align-items: center;
  justify-content: center;
}

.btn {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 3px;
}
